@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Hubot Sans';
    src:
        url('fonts/Hubot-Sans.woff2') format('woff2 supports variations'),
        url('fonts/Hubot-Sans.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

:root {
    font-family: 'Hubot Sans', sans-serif;
    scroll-behavior: smooth !important;
    background-color: rgb(226 232 240);
}

:root.dark {
    background-color: rgb(30 41 59);
}